body {
    background-color: black;
    background: url('./images/romcom_bg5.svg');
    background-position: center;
    background-size: cover;
}

.back-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.back-btn button {
    padding: 0.8rem 1rem;
    /* margin: 0 auto; */
}

.back-btn button a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

@media (max-width: 480px) {
    body {
        background: url('./images/romcom_bgm.svg');
        background-position: center;
        background-size: cover;
    }
}