@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
body {
    background-color: black;
    background: url('./images/romcom_bg5.svg');
    background-position: center;
    background-size: cover;
}

.back-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.back-btn button {
    padding: 0.8rem 1rem;
    border-radius: 10px;
    border: none;
    background-color: #30353C;
}

.back-btn button a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
}

@media (max-width: 480px) {
    body {
        background: url('./images/romcom_bgm.svg');
        background-position: center;
        background-size: cover;
    }
}